* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.wrapper {}

.container {
  max-width: 1110px;
  margin: 0px auto;
  padding: 0px 7px;
  height: 100%;
}

.header {
  width: 100%;

  &__options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__contacts {

    padding: 16px 0;
    background-color: #C8A35F;

    @media (max-width:800px) {

      padding: 12px 0;

    }

    @media (max-width:320px) {

      padding: 8px 0;

    }
  }

  &__header {
    background: #2F343A;
    padding: 27px 0;
    transition: all 0.3s;

  }

  &__menu {
    height: 46px;


  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


    &__left {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;

    }

    &__logo {
      display: flex;


      &::after {
        content: '';
        border: 1px solid #F2F2F2;
        margin: 0px 30px;
      }

      & img {
        width: 100%;
      }
    }

    &__office,
    &__nav {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.05em;
      color: #FFFFFF;
      height: 100%;
      display: flex;
      flex: 1;

      .nav {}
    }

    &__office {
      padding-left: 35px;
      background: url("../img/office.svg") no-repeat center left;
      flex-direction: column;
      justify-content: center;

    }

    &__right {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
    }

    &__nav {
      text-transform: uppercase;
      flex-direction: row;
      align-items: center;

      @media (max-width:800px) {

        display: none;

      }
    }

    .nav {
      &__item:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__langs {
    display: flex;
    flex-direction: row;
    width: 82px;
    justify-content: space-between;
  }

  &__phone,
  &__mail {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
  }

}

.langs {
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  opacity: 1;
  text-transform: uppercase;

  &_nonactive {
    opacity: 0.5;
  }
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  display: none;

  @media (max-width:800px) {
    display: flex;
  }
}

.burger__line {
  width: 40px;
  border: 1px solid white;
  transition: all 0.3s;
  // position: relative;
}

.burger__line.active:first-child{
  
  transform: rotate(-45deg);
  margin-top: 11px;
  position: absolute;
}
.burger__line.active:last-child{
  transform: rotate(45deg);
  margin-bottom: 10px;
}
.burger__line.active:nth-child(2){
  transform: scale(0);
}
.header__header.active{
  height: 37%;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}


@media (max-width:375px) {
  .menu__logo {}

  .menu__left {
    // width: 320px;
  }

  // .header__header .container{
  //   max-width: 335px;
  //   margin: 0 auto;
  // }
  .header .menu__logo::after {
    margin: 0 10px;
  }

  .burger__line {
    width: 30px;
  }

  .menu__logo img {
    width: 50%;
  }
}

@media (max-width:800px) {
  .header__header {
    padding: 15px 0;
    width: 100%;
    height: 12.5%;
    position: fixed;
    // top: -100%;
  }

  .menu__nav.nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    padding-top: 80px;
    align-items: flex-start;

  }

  .header .menu .nav__item {
    margin: 0 0 20px 15px;
    font-size: 22px;
    
}
}

@media (max-width:320px) {
  .menu__logo img {
    width: 30%;
  }

  .header .menu__right {
    margin-left: 5px;
  }

  
  .header .menu__office {
    font-size: 12px;
    line-height: 14px;
  }
}