* {
  box-sizing: border-box;
}

html {
  // min-height: 100% !important;

}

.greeting {

  height: 620px;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  // min-height: 100% !important;
  margin-bottom: 0;
  padding-top: 146px;
}

html,
body,
.wrapper {
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.wrapper {}

.container {
  max-width: 1110px;
  margin: 0px auto;
  padding: 0px 7px;
  height: 100%;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  &__options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__contacts {

    padding: 16px 0;
    background-color: #C8A35F;
    z-index: 6;
    position: relative;


    @media (max-width:800px) {

      padding: 12px 0;

    }

    @media (max-width:320px) {

      padding: 8px 0;

    }
  }

  &__header {
    background: #2F343A;
    padding: 27px 0;
    transition: all 0.3s;
    height: 100px;
    // z-index: 6;
    // position: relative;
  }

  &__menu {
    height: 46px;


  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // z-index: 6;

    // position: relative;

    &__left {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;

    }

    &__logo {
      display: flex;


      &::after {
        content: '';
        border: 1px solid #F2F2F2;
        margin: 0px 30px;
      }

      & img {
        width: 100%;
      }
    }

    &__office,
    &__nav {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.05em;
      color: #FFFFFF;
      height: 100%;
      display: flex;
      flex: 1;

      .nav {}
    }

    &__office {
      padding-left: 35px;
      background: url("../img/office.svg") no-repeat center left;
      flex-direction: column;
      justify-content: center;

    }

    &__right {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
    }

    &__nav {
      text-transform: uppercase;
      flex-direction: row;
      align-items: center;

      @media (max-width:878px) {

        display: none;

      }
    }

    .nav {
      &__item:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__langs {
    display: flex;
    flex-direction: row;
    width: 82px;
    justify-content: space-between;
  }

  &__phone,
  &__mail {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
  }

}

.langs {
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  opacity: 1;
  text-transform: uppercase;

  &_nonactive {
    opacity: 0.5;
  }
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  display: none;

  @media (max-width: 878px) {
    display: flex;
  }
}

.burger__line {
  width: 40px;
  border: 1px solid white;
  transition: all 0.3s;
  // position: relative;
}

.burger__line.active:first-child {

  transform: rotate(-45deg);
  margin-top: 11px;
  position: absolute;
}

.burger__line.active:last-child {
  transform: rotate(45deg);
  margin-bottom: 10px;
}

.burger__line.active:nth-child(2) {
  transform: scale(0);
}

.menu__nav.nav.active {

  top: 102px;
  overflow: auto;
}

.header .menu .nav__item.active {
  font-size: 22px;
  color: white;

}

.lock {
  overflow: hidden;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}


@media (max-width:375px) {
  .menu__logo {}

  .menu__left {}


}

@media (max-width:878px) {



  .menu__nav {
    background-color: #2F343A;
    width: 100%;
    z-index: 5;

  }

  .menu__nav.nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: -150px;
    left: 0;
    align-items: flex-start;
    height: 145px;
    transition: top 0.5s;
    padding-top: 5px;
  }

  .header .menu .nav__item {
    margin: 0 0 20px 15px;
    font-size: 22px;
    position: relative;
    transition: font-size 0.3s;
  }

  .header__main.headerpic {
    top: 102px;
  }

  .header__header {
    padding: 10px 0;
    height: 66px;
  }
}


@media (max-width:320px) {
  .menu__logo img {
    width: 30%;
  }

  .header .menu__right {
    margin-left: 5px;
  }


  .header .menu__office {
    font-size: 12px;
    line-height: 14px;
  }

  .menu__nav.nav.active {
    top: 94px;
  }

  .header__main.headerpic {
    top: 94px;
  }

}


.header__main {
  width: 100%;
  height: 620px;
  position: absolute;
  background: url("../img/main.png") no-repeat center / cover;
}

.headerpic__opacity {
  position: absolute;
  background-color: rgba(47, 52, 58, 0.75);
  width: inherit;
  height: inherit;
}

.headerpic__text {
  position: absolute;
  top: 155px;
  left: 26%;
  right: 26%;
  bottom: 220px;
  padding: 45px 72px;
  border: 1px solid #C8A35F;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .text {
    width: 100%;
    height: 100%;

    &__title {
      color: #FFFFFF;
      font-size: 64px;
      line-height: 75px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

    &__subtitle {
      color: #FFFFFF;
      font-size: 18px;
      line-height: 28px;
    }
  }

}

.mouse {
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 15px);
  background: url("../img/mouse.svg") no-repeat center;
}

@media (max-width:1915px) {
  .headerpic__text {
    .text {

      &__title {
        font-size: 43px;
        line-height: 58px;
      }
    }
  }
}

@media (max-width:1387px) {
  .headerpic__text {
    .text {

      &__title {
        font-size: 35px;
        line-height: 58px;
      }
    }
  }
}

@media (max-width:1181px) {
  .headerpic__text {
    .text {

      &__title {
        line-height: 40px;
        margin-bottom: 15px;
      }

      &__subtitle {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}


@media (max-width:723px) {
  .headerpic__text {
    padding: 30px 35px;

    .text {

      &__title {
        line-height: 40px;
        margin-bottom: 15px;
      }

      &__subtitle {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

@media (max-width:607px) {
  .headerpic__text {
    left: 15%;
    right: 15%;
    padding: 62px 16px;

    .text {

      &__title {
        font-size: 28px;
        line-height: 32px;
      }

      &__subtitle {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
}

@media (max-width:440px) {
  .headerpic__text {
    padding: 50px 16px;

    .text {

      &__title {
        font-size: 23px;
        line-height: 26px;
      }

      &__subtitle {
        font-size: 12px;
        line-height: 17px;
      }
    }
  }
}

@media (max-width:320px) {
  .headerpic__text {
    padding: 52px 9px;

    .text {

      &__title {
        font-size: 23px;
        line-height: 26px;
      }

      &__subtitle {
        font-size: 12px;
        line-height: 17px;
      }
    }
  }
}


.content {
  // width: 100%;
  // top: 0;
  // position: relative;
  // height: 100%;
}

.services {
  background: linear-gradient(to right, #393F47 39%, #2F343A 39% 61%, #393F47 61%);
  // width: 100%;

  &__slider {}
}

.slider {

  &__item {
    padding: 120px 0 129px;
    height: 561px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    // justify-content: center;
  }

  &__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 418px;
    margin-right: 5%;
  }

  &__title {
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
  }

  &__title::before {
    content: '';
    width: 90px;
    background-color: #C8A35F;
    height: 6px;
    display: block;
    margin-bottom: 40px;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 50px;
    color: #FFFFFF;
  }

  &__button {
    background: #C8A35F;
    padding: 18px 48px 19px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    outline: none;
    border: 0;
    width: 220px;
  }

  &__pic {
    background: url("../img/truck.png") no-repeat center / cover;
    width: 445px;
    height: 266px;
    margin-right: 30px;
  }

  &__controls {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C8A35F;
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__right::after {
    content: '';
    height: 20px;
    width: 65px;
    margin-left: 31px;
    background: url("../img/arrow.svg") no-repeat left center / cover;
  }

  &__left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__left::before {
    content: '';
    height: 20px;
    width: 65px;
    margin-right: 31px;
    background: url("../img/arrow.svg") no-repeat left center / cover;
    transform: scale(-1);
  }
}



.allservices {
  background: #2F343A;

  &__block {
    padding: 120px 0;
  }

  &__title {
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
  }

  &__title::before {
    content: '';
    width: 90px;
    background-color: #C8A35F;
    height: 6px;
    display: block;
    margin-bottom: 40px;
  }

  &__panel {}
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  &__item {
    width: calc((100% / 4) - 1px);
    background: #393F47;
    padding: 5% 3% 4%;
    // padding: 55px 42px 35px;
    margin-top: 1px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


}

@media (max-width:926px) {
  .panel {
    &__item {
      padding: 6% 3% 5%;
    }
  }
}

@media (max-width:878px) {
  .panel {


    &__item {
      flex-basis: 49.9%;
      padding: 8% 3% 5%;

    }
  }
}

@media (max-width:578px) {
  .panel {
    &__item {
      padding: 10% 1% 6%;
    }
  }
}

@media (max-width:610px) {
  .panel {
    &__item {
      padding: 10% 1% 6%;
    }
  }
}

@media (max-width:540px) {
  .panel {


    &__item {
      flex-basis: 95%;
      padding: 17% 3% 7%;

    }
  }

  .panel {
    justify-content: center;
  }

}

@media (max-width:392px) {
  .panel {
    &__item {
      padding: 17% 1% 8%;
    }
  }
}

.item {
  position: relative;

  &__pic {
    text-align: center;
    z-index: 3;
    position: relative;
  }

  &__caption {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 5;
  }


  &__hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background: url("../img/airplane.svg") no-repeat left 50% top calc(50% - 20px),
      url("../img/circle.svg") no-repeat left 50% top calc(50% - 20px);
    background-color: #C8A35F;
    z-index: 4;
  }

  &:hover {
    .item__hover {
      opacity: 1;
      visibility: visible;
    }
  }

}






.about-company {
  background: linear-gradient(to right, #2F343A 39%, #393F47 39% 61%, #2F343A 61%);

  &__block {
    padding: 80px 0;
    display: flex;
    flex-direction: row;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 41%;
    margin-right: 45px;
  }

  &__title {
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
  }

  &__title::before {
    content: '';
    width: 90px;
    background-color: #C8A35F;
    height: 6px;
    display: block;
    margin-bottom: 40px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
  }

  &__panel {
    display: flex;
    flex-direction: row;
    flex: 0 0 59%;
    flex-wrap: wrap;
  }
}

.item {


  &__text {
    width: 200px;
    height: 160px;
    background: #FFFFFF;
    border: 0.25px solid #C8A35F;
    padding: 12px 4px 12px;
  }

  &__number {
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2F343A;
    margin-bottom: 10px;
    font-weight: bold;
  }

  &__caption {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: 15px;

  }

  &__subcaption {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
  }

  &__picture {
    object-fit: contain;
    width: 200px;
    height: 160px;
    border: 0.25px solid #C8A35F;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.map {
  height: 570px;
  background: #2F343A;
  padding-top: 120px;
}


.footer {

  position: relative;
  top: 0;

  background: #C8A35F;

  // align-items: flex-end;
  // justify-content: flex-start;

  &__block {
    display: flex;
    flex-direction: row;
    height: 161px;
    padding: 65px 0 60px;
    align-items: center;
  }

  &__logo {
    margin-right: 30px;

    img {
      display: block;
    }

  }

  &__contacts {
    margin-right: 19.18%;
  }

  &__develop {
    text-align: right;
    text-decoration-line: underline;
    color: #2F343A;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }
}

.contact {

  display: flex;
  flex-direction: row;
  height: 100%;

  &__left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-right: 9%;

  }

  &__addr,
  &__email,
  &__phone {
    font-size: 14px;
    line-height: 16px;
  }

  &__addr {
    color: #F2F2F2;
    opacity: 0.8;
    width: max-content;

  }

  &__email {
    color: #2F343A;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__phone {
    color: #F2F2F2;
    width: max-content;
  }
}

@media (max-width:1190px) {
  .footer {
    &__contacts {
      margin-right: 10%;
    }
  }
}

@media (max-width:878px) {
  .footer {
    &__contacts {
      margin-right: 5%;
    }
  }

  .contact {

    flex-direction: column;
    height: max-content;
  }
}

@media (max-width:703px) {

  .contact {
    &__addr {
      margin-bottom: 5px;
    }

    &__phone:first-child {
      margin-bottom: 5px;
    }

    &__right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
    }

    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-right: 0;
      margin-bottom: 5px;

    }
  }

  .footer {
    &__develop {
      text-align: center;
      text-decoration-line: underline;
      color: #2F343A;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;

    }

    &__block {
      display: flex;
      flex-direction: column;
      height: 161px;
      padding: 5px 0 5px;
      align-content: center;
    }

    &__logo {
      margin-right: 0;
      margin-bottom: 5px;
    }

    &__contacts {
      margin-right: 0;
    }
  }
}

@media (max-width:1190px) {
  .container {
    max-width: 800px;
  }
}

@media (max-width:878px) {
  .container {
    max-width: 580px;
  }
}

@media (max-width:606px) {
  .about-company {
    &__description {
      flex: 0 0 50%;
      margin-left: 15px;
    }
  }
}

@media (max-width:673px) {
  .about-company {
    &__panel {
      flex: 0 0 33%;
    }
  }
}

@media (max-width:540px) {
  .container {
    max-width: 330px;
  }

  .burger__line {
    width: 30px;
  }

  .header .menu__logo::after {
    margin: 0 10px;
  }

  .menu__logo img {
    width: 50%;
  }

  .about-company {

    &__block {
      flex-direction: column;
    }

    &__description {
      margin: 0 0 10px 0;

    }

    &__panel {
      justify-content: center;

    }
  }

}

@media (max-width:320px) {
  .about-company {

    &__block {
      flex-direction: column;
    }

    &__description {
      padding: 0 10px 0;

    }

    &__title {
      font-size: 35px;
    }

    &__subtitle {
      font-size: 14px;
    }

    &__panel {
      justify-content: center;

    }
  }
}


@media (max-width:878px) {

  .services,
  .allservices,
  .about-company,
  .footer,
  .map {
    position: relative;
    top: -45px;

    &__slider {}
  }


}

@media (max-width:1190px) {
  .services__slider {

    .slider {

      &__title {
        font-size: 25px;
        line-height: 36px;
      }

      &__subtitle {
        font-size: 15px;
        line-height: 21px;
        margin-bottom: 38px;
      }

      &__pic {
        position: relative;
        top: -67px;
        left: 19px;
        width: 270px;
        height: 176px;
        margin-right: 0;
      }
    }
  }
}

@media (max-width:878px) {

  .map {
    padding: 60px 0 0;
    height: 508px;
  }

  .allservices {
    &__block {
      padding: 60px 0;
    }
  }

  .services__slider {

    .slider {

      &__item {
        padding: 76px 0 76px;
        height: 473px;
      }

      &__info {
        width: 207px;
      }
    }
  }
}


@media (max-width:582px) {
  .services__slider {

    .slider {

      &__right:after {
        margin-left: 10px;
      }

      &__left::before {
        margin-right: 10px;
      }

      &__controls {
        margin-right: 20px;
      }

      &__info {
        margin-left: 48px;
        margin-right: 0;
      }

      &__button {
        width: 159px;
        padding: 18px 23px 19px;
      }

      &__title {
        font-size: 20px;
        line-height: 23px;
      }

      &__subtitle {
        font-size: 11px;
        line-height: 14px;
        margin-bottom: 32px;
      }

      &__pic {
        left: 74px;
        width: 164px;
        height: 153px;
        margin-right: 0;
      }
    }
  }
}

@media (max-width:540px) {
  .services__slider {

    .slider {
      &__item {
        justify-content: center;
        padding: 41px 0 41px;
        height: 392px;
      }

      &__pic {
        display: none;
      }

      &__title {
        font-size: 29px;
        line-height: 35px;
      }

      &__subtitle {
        font-size: 15px;
        line-height: 17px;
      }

      &__info {
        margin-left: 0;
      }

      &__controls {
        display: none;
      }
    }
  }
}

@media (max-width:375px) {
  .services__slider {

    .slider {
      &__item {
        justify-content: center;
      }

      &__button {
        padding: 11px 21px 11px;
      }

      &__pic {
        display: none;
      }

      &__title {
        font-size: 21px;
        line-height: 24px
      }

      &__subtitle {
        font-size: 13px;
        line-height: 15px;
      }

      &__info {
        margin-left: 0;
      }

      &__controls {
        display: none;
      }
    }
  }
}
